<!DOCTYPE html>
<html lang="nl">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <div class="page">
        <% include partials/header.ejs %>
        <div class="section-page">
            <section class="term">
                <div class="txt-title">
                    <p class="txt-bold">Cuộc thi chụp ảnh cùng</p>
                    <p><img src="assets/images/txt-guard-1.png" alt=""></p>
                </div>
                <div class="cont-term">
                    <div class="gift">
                        <h5>Chụp ảnh có cơ hội nhận</h5>
                        <img src="assets/images/gift.png" alt="" />
                    </div>
                    <div class="step">
                        <ul>
                            <li>
                                <span>Bước 1:</span>
                                <p>
                                    Chụp hình cùng Người hộ vệ Gia đình tại Vincom Phạm Ngọc Thạch
                                </p>
                            </li>
                            <li>
                                <span>Bước 2:</span>
                                <p>
                                    Đăng tải/chia sẻ trên trang Facebook cá nhân,
                                    để chế độ công khai, kèm hashtag
                                    #NgườiHộVệGiaĐình (#NguoiHoVeGiaDinh)
                                </p>
                            </li>
                            <li>
                                <span>Bước 3:</span>
                                <p>
                                    Người hộ vệ gia đình sẽ sử dụng random.org
                                    chọn ra 10 người may mắn trong số các bạn đã
                                    đăng hình để trao tặng những chiếc thẻ cào
                                    điện thoại trị giá 50,000VND
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <% include partials/footer.ejs %>
    </div>
    <% include partials/scripts.ejs %>
</body>
</html>